@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Form parameters parsing demo</h2>
    <ul>
        <li><a href="/Calc/Manual">Manual parsing in single action</a></li>
        <li><a href="/Calc/ManualWithSeparateHandlers">Manual parsing in separate actions</a></li>
        <li><a href="/Calc/ModelBindingInParameters">Model binding (parameters)</a></li>
        <li><a href="/Calc/ModelBindingInSeparateModel">Model binding (separate model)</a></li>
    </ul>
</div>
