@model Lab11_2.ViewModel.Data

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var result = 0;
    switch (Model.Operation)
    {
        case "+":
            result = Model.FirstNumber + Model.SecondNumber;
            break;
        case "-":
            result = Model.FirstNumber - Model.SecondNumber;
            break;
        case "*":
            result = Model.FirstNumber * Model.SecondNumber;
            break;
        case "/":
            if (Model.SecondNumber == 0)
            {
                result = 0;
                break;
            }
            else
            {
                result = Model.FirstNumber / Model.SecondNumber;
                break;
            }
    }
}

<div class="content">
    <h2>Result</h2>
    @if(Model.SecondNumber == 0 && Model.Operation == "/")
    {
    <h3>На 0 делить нельзя!</h3>
    }
    else{
        <h3>@Model.FirstNumber @Model.Operation @Model.SecondNumber = @result</h3>
    }
</div>
