<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.title</title>
    <link rel="stylesheet" href="~/css/_Layout.css">
</head>
<body>
    <nav>
        <h3>Backend3</h3>
        <div class="Home">
            <a href="/">Home</a>
        </div>
        <div class="Home">
            <a href="/Mockups">Mockups</a>
        </div>
    </nav>
    @RenderBody()
    <footer>
        <hr />
        © 2023 - Backend3
    </footer>
</body>
</html>




