body{
    margin: 0px;
}
p{
    margin: 0;
}
.main{
    display: flex;
    background-color: aqua;
    margin: 10px 10px 0 10px;
    border: solid 1px green;
}
.l_side{
    width: 450px;
}
.list{
    background-color: bisque;
    padding-top: 15px;
    padding-bottom: 15px;
}
.list ul{
    margin: 0;
}
.r_side{
    background-color: darkgrey;
    margin-right: 5px;
    margin-left: 5px;
    width: 1439px;
}
@media (max-width: 550px) {
    .main{
        display: block;
    }
    .l_side{
        width: 126px;
    }
    .r_side{
        margin: 0px;
        width: 350px;
    }
}