@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <h2>Mockups</h2>
     <ul>
        <li><a href="/Mockups/Quiz">Quiz</a></li>
        <li><a href="/Mockups/QuizResult">QuizResult</a></li>
     </ul>
</div>